<div class="row">
  <div class="col-md-6">
    <table class="table table-striped">
      <tr> <td>Before</td> <td><a href="https://carpentries.typeform.com/to/wi32rS?slug=2020-11-23-leipzig-online">Pre-workshop survey</a> </td> </tr>
      <tr> <td>Day 1</td>  <td>Automating Tasks with the Unix Shell</td> <a href="files/dat1_history.txt">Day 1 History</a> </tr>
      <tr> <td>Day 2</td>  <td>R for Reproducible Scientific Analysis</td> </tr>
      <tr> <td>Day 3</td>  <td>Version Control with Git</td> </tr>
      <tr> <td>Day 4</td>  <td>R for Reproducible Scientific Analysis, part 2</td> </tr>
      <tr> <td>Day 5</td>  <td>R for Reproducible Scientific Analysis, part 3</td> </tr>
      <tr> <td>After</td>  <td><a href="https://carpentries.typeform.com/to/UgVdRQ?slug=2020-11-23-leipzig-online" target="_blank">Post-workshop Survey</a></td> </tr>
    </table>
  </div>
</div>
