<div class="row">
  <div class="col-md-6">
    <table class="table table-striped">
      <tr> <td>Before</td> <td><a href="https://carpentries.typeform.com/to/wi32rS?slug=2020-11-23-leipzig-online">Pre-workshop survey</a> </td> <td></td> </tr>
      <tr> <td>Day 1</td>  <td>Automating Tasks with the Unix Shell</td> <td><a href="https://github.com/HBEC-MPI-EVA/2020-11-23-leipzig-online/blob/gh-pages/day1_history.txt">Day 1 History</a></td> </tr>
      <tr> <td>Day 2</td>  <td>R for Reproducible Scientific Analysis</td> <td><a href="https://github.com/HBEC-MPI-EVA/2020-11-23-leipzig-online/blob/gh-pages/day2_Intro_to_R.R">Day 2 History</a></td></tr>
      <tr> <td>Day 3</td>  <td>Version Control with Git</td> <td><a href="https://github.com/HBEC-MPI-EVA/2020-11-23-leipzig-online/blob/gh-pages/day3_git_intro.sh">Day 3 History</a></td> <td><a href="https://github.com/HBEC-MPI-EVA/2020-11-23-leipzig-online/blob/gh-pages/git-whiteboard.png">Day 3 Whiteboard</a></td></tr>
      <tr> <td>Day 4</td>  <td>R for Reproducible Scientific Analysis, part 2</td> <td><a href="https://github.com/HBEC-MPI-EVA/2020-11-23-leipzig-online/blob/gh-pages/day4_subsetting_ggplot.R">Day 4 History</a></td></tr>
      <tr> <td>Day 5</td>  <td>R for Reproducible Scientific Analysis, part 3</td> <td><a href="https://github.com/HBEC-MPI-EVA/2020-11-23-leipzig-online/blob/gh-pages/day5_advanced_wrangling.R">Day 5 History</a> <td><a href="https://github.com/HBEC-MPI-EVA/2020-11-23-leipzig-online/blob/gh-pages/Teaching_rmd.Rmd">Day 5 Rmarkdown</a></td></tr>
      <tr> <td>After</td>  <td><a href="https://carpentries.typeform.com/to/UgVdRQ?slug=2020-11-23-leipzig-online" target="_blank">Post-workshop Survey</a></td> </tr>
    </table>
  </div>
</div>
